/*SCSS variables
ToDo delete later*/
$primary-color-dark: #20013E;
$primary-color-medium: #262626;
$primary-color-light: #F7B219;
// $primary-color-medium: #440381;
// $primary-color-light: #FFD6C0;

$semantic-color-green-dark: #03CEA4;
$semantic-color-green-medium: #58caca;
$semantic-color-green-light: #D1F0F0;

$semantic-color-red-dark: #EB4438;
$semantic-color-red-medium: #EB4438;

$semantic-color-yellow-dark: #F7B219;
$semantic-color-yellow-medium: #F7B219;

$semantic-color-blue-dark: #24659B;
$semantic-color-blue-medium: #24659B;

$neutral-color-black-dark: #0D0D0D;
$neutral-color-black-medium: #262626;
$neutral-color-black-light: #CED6DE;
$neutral-color-black-very-light: #F5FAFF;

$neutral-color-white-dark: #e1e1e3;
$neutral-color-white-medium:#f2f2f2;
$neutral-color-white-light: #ffffff;


/*CSS variables*/
:root {
	--neutral-color-black-light: #737372;
	--neutral-color-gray-1: #E8E8E8;
	--neutral-color-gray-2: #D5D6D5;
	--neutral-color-gray-3: #737372;
	--neutral-color-gray-4: #4c5055;

	--color-athens-gray: #E2E4E9;
}
